<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Vincula el archivo de JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div id="inicio">
        <h1>¡BIENVENIDO!</h1>
        <h1 id="holi">SOFTWARE ESTADÍSTICO INGENIERIL</h1>
        <br>
        <br>
        <br>
        <h2>ELABORADO POR:</h2>
        <h2>ALISOM ESCOBAR</h2>
        <!-- Botón de inicio -->
        <button type="button" id="miBotoninicial" class="btn btn-outline-primary" onclick="botonInicio()">INICIAR</button>
    </div>
</body>
</html>

